<!--
 * @Author: your name
 * @Date: 2020-11-11 16:52:30
 * @LastEditTime: 2020-11-21 16:33:37
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \最右pc端\first.html
-->
<!--
 * @Author: your name
 * @Date: 2020-11-07 20:23:41
 * @LastEditTime: 2020-11-11 16:51:07
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \最右pc端\zuiyou.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="first-part.css" type="text/css">
</head>
<body>
    
       
        <div id="web_bg" style="background-image: url(picture/header.png);"></div>
        <div class="header1">
            <div class="header2">
               
                <div class="navtop">
                    <ul class="header_links">
                        <a href="first" id="current">首页</a>
                        <a href="video">视频专区</a>
                        <a href="second">段子专区</a>
                        <a href="fly">纸飞机</a>
                        <li class="link">           
                            关于最右
                            <div class="arrow"></div>
                            <ul class="submemu">    
                                <a target="_blank" href="https://h5.izuiyou.com/introduction"><li>最右介绍</li></a>
                                <a target="_blank" href="https://h5.izuiyou.com/about"><li>关于最右</li></a>
                            </ul>
                        </li>
                       
                    </ul>
                </div>
               
                <img src="picture/pink.png" alt="pink" class="logo">
             </div>
        </div>
        <div class="content">
            <div class="white"></div>
            <div class="yellow"></div>
           
            <div class="phone"></div>
            <div class="zuiyouapp"></div>
            <div class="desc">
                "年轻人都在用、超有趣的兴趣社区"
                <br>
                "搞笑视频、脑洞神评、让你笑不停"
            </div>
            <div class="qrcode"></div>
            <video src="video/1.mp4" autoplay muted loop class="video"></video>
            
            
        </div>
       
   
    
       
</body>
</html>