<!--
 * @Author: your name
 * @Date: 2020-11-13 18:45:10
 * @LastEditTime: 2020-11-21 16:34:11
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \最右pc端\caogao
-->
<!DOCTYPE html>
<html lang="en">
   
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>纸飞机</title>
    <link rel="stylesheet" href="fly.css" type="text/css">
    <script src="https://cdn.staticfile.org/jquery/1.8.3/jquery.min.js">
    </script>
   
</head>

<body>
    <div id="web_bg"></div>
        <div class="header1">
            <div class="header2">
               
                <div class="navtop">
                    <ul class="header_links">
                        <a href="first" >首页</a>
                        <a href="video">视频专区</a>
                        <a href="second">段子专区</a>
                        <a href="fly" id="current">纸飞机</a>
                        <li class="link">           
                            关于最右
                            <div class="arrow"></div>
                            <ul class="submemu">    
                                <a target="_blank" href="https://h5.izuiyou.com/introduction"><li>最右介绍</li></a>
                                <a target="_blank" href="https://h5.izuiyou.com/about"><li>关于最右</li></a>
                            </ul>
                        </li>
                       
                    </ul>
                </div>
               
               
             </div>
        </div>
  
    <h1 id="h01"></h1>
   
    <marquee direction="left">
        <div >
            
        <img src="picture/016aad778a2571fceb4311d30544bb21.jpeg" alt="" style="width:200px;height: 180px;">
        <img src="picture/6204e48e92dd9e68ed969abff538ab83.gif" alt="" style="width:200px;height: 180px;">
        <img src="picture/e89ea3942554017749777d3468a96071.jpg" alt="" style="width:200px;height: 180px;">
        
        <img src="picture/c9afbb7d7d757cf1c49ebf39f8cf9d63.gif" alt="" style="widows: 200px;;height: 180px;">
        </div>
        </marquee>
    <marquee direction="right">
        <div >
            
        <img src="picture/4cb28939d8c2ca34bef3c68edcf1eeff.jpeg" alt="" style="width:200px;height: 180px;">
        <img src="picture/42813d1893a6ebf50375ba491d1d2f7f.jpeg" alt="" style="width:200px;height: 180px;">
        <img src="picture/13ec4f6d5b24ec761fe2c6ffc80376ef.jpg" alt="" style="width:200px;height: 180px;">
        
        <img src="picture/34732414d3434c6f09cf9b6dac1c8e8b.jpg" alt="" style="widows: 200px;;height: 180px;">
        </div>
        </marquee>
        <img src="picture/纸飞机1.png" alt="" class="paper">
        
        <img src="picture/纸飞机1.png" alt="" class="paper">
        <img src="picture/纸飞机1.png" alt="" class="paper">
      
        <img src="picture/纸飞机1.png" alt="" class="paper">
        
        <img src="picture/纸飞机1.png" alt="" class="paper">
        
       
        

        
        
            
        
        
        
        
        
</div>
</body>
</html>