<!--
 * @Author: your name
 * @Date: 2020-11-07 20:23:41
 * @LastEditTime: 2020-11-21 16:59:53
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \最右pc端\zuiyou
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频专区</title>
    <link rel="stylesheet" href="video-part.css" type="text/css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        setInterval("timenow.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
    </script>
    <script>
        $(document).ready(function(){
	$("#first").click(function(){
		$("#hidden").slideToggle();
	});
});
    </script>
</head>
<body id="id">

    <div class="header1">
        <div class="header2">
            <div id="timenow" ></div>
          
            <a href="#id"><img src="picture/sun-lit.gif" alt="pink" class="logo"></a>
         </div>
         <div class="navtop">
            <ul class="header_links">
                <a href="first" >首页</a>
                <a href="video" id="current">视频专区</a>
                <a href="second">段子专区</a>
                <a href="fly">纸飞机</a>
                <li class="link">           
                    关于最右
                    <div class="arrow"></div>
                    <ul class="submemu">    
                        <a target="_blank" href="https://h5.izuiyou.com/introduction"><li>最右介绍</li></a>
                        <a target="_blank" href="https://h5.izuiyou.com/about"><li>关于最右</li></a>
                    </ul>
                </li>
               
            </ul>
        </div>
    </div>

    

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <div class="user">
                    <img src="picture/95a1a560597d9cd22b2c2920507a4fad.jpeg" alt="" >
                    <div class="user_right">
                        <h3>偷偷。</h3>
                       <br>
                        <p>哈哈哈哈哈哈哈哈哈哈哈哈笑的我肚子疼😂😂</p>
                     </div>
                    
                </div>
                <video  controls>	
  
                    <source src="video/7f14-6996-11e9-8813-00163e042306.mp4" type="video/ogg">
                    
                </video>
                <div class="hot">
                    <img src="picture/下载.png" alt="" style="width: 50px;">
                    <br>
                    <br>
                    <p>不一样的守门员.</p>
                </div>
            </div>
            <div class="card">
                <div class="user">
                    <img src="picture/timg.jfif" alt="" >
                    <div class="user_right">
                        <h3>耗子尾汁</h3>
                       <br>
                        <p>昨天的直播你们看了吗？辩论的时候奶凶奶凶的</p>
                     </div>
                    
                </div>
                <video  controls>	
  
                    <source src="video/1353145634.mp4" type="video/ogg">
                    
                </video>
                <div class="hot">
                    <img src="picture/下载.png" alt="" style="width: 50px;">
                    <br>
                    
                    <p>那天晚上我喝醉了，我躺在床上发酒疯，嘴里嘟囔着：“我要娶桥本环奈！”这时一个女子走了过来，轻轻为我盖上了被子看着我温柔的对我说：“怎么了？娶我王冰冰委屈你了？”</p>
                    <img src="picture/QQ图片20201120235659.jpg" alt="" style="width: 50px;height: 50px;">
                </div>
            </div>
            <div class="card">
                <!-- <h3>热门视频</h3> -->
                <div class="user">
                    <img src="picture/987135097dfec0938f5bf42c9b52b9f2.jpeg" alt="" >
                    <div class="user_right">
                        <h3>心有余悸✌️</h3>
                       <br>
                        <p>笑死我了</p>
                     </div>
                </div>
                    <video  controls>	
      
                        <source src="video/1341036656.mp4" type="video/ogg">
                        
                      </video>
                      <div class="hot">
                        <img src="picture/下载.png" alt="" style="width: 50px;">
                        <br>
                        <br>
                        <p>不愧是砖家</p>
                    </div>
               
            </div>
            <div class="card">
                <div class="user">
                    <img src="picture/a3210d2bb2531099bdd83413c5331d72.png" alt="" >
                    <div class="user_right">
                        <h3>二狗子rrr</h3>
                       <br>
                        <p>有缘自会相遇</p>
                     </div>
                </div>
                <video  controls>	
  
                    <source src="video/1346780540.mp4" type="video/ogg">
                    
                  </video>
                  <div class="hot">
                    <img src="picture/下载.png" alt="" style="width: 50px;">
                    <br>
                    <br>
                    <p>虽人海茫茫，却也有相遇的一天</p>
                </div>
            </div>
            <div class="card">
                <div class="user">
                    <img src="picture/u=928371450,1584240091&fm=218&app=92&f=JPEG.jfif" alt="" >
                    <div class="user_right">
                        <h3>鸿昊先生</h3>
                       <br>
                        <p>一起来欣赏晚霞</p>
                     </div>
                </div>
                <video  controls>	
  
                    <source src="video/48c599c4b3518470159cace21bcb61f6.mp4" type="video/ogg">
                    
                  </video>
                  <div class="hot">
                    <img src="picture/下载.png" alt="" style="width: 50px;">
                    <br>
                    <br>
                    <p>这一抹晚霞带来了身心的愉悦</p>
                </div>
            </div>
          
            <div class="card">
                <div class="user">
                    <img src="picture/96573983140_avatar.png" alt="" >
                    <div class="user_right">
                        <h3>小众喜好￡</h3>
                       <br>
                        <p>日常一个小技巧</p>
                     </div>
                </div>
                <video  controls>	
  
                    <source src="video/a7f86ca4c1138e08daa824e6e9ef6bee.mp4" type="video/ogg">
                    
                  </video>
                  <div class="hot">
                    <img src="picture/下载.png" alt="" style="width: 50px;">
                    <br>
                    <br>
                    <p>去收藏夹吃灰吧！</p>
                </div>
            </div>
            <div class="card">
                <div class="user">
                    <img src="picture/2805574426692813_avatar.png" alt="" >
                    <div class="user_right">
                        <h3>硬核的半佛仙人</h3>
                       <br>
                        <p>爱了爱了</p>
                     </div>
                </div>
                <video  controls>	
  
                    <source src="video/f1d14c0e2a847c5263ab03062f800d71.mp4" type="video/ogg">
                    
                  </video>
                  <div class="hot">
                    <img src="picture/下载.png" alt="" style="width: 50px;">
                    <br>
                    <br>
                    <p>保持童真，世间美好不过如此</p>
                </div>
            </div>
            
            
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h1>一只大龙猫</h1>
                <div class=photo>
                    <img src="picture/1f65471049d4233bd1e78f5de8d49458.jpeg" class="longmao" alt="" style="width: 100%;">
                    
                </div> 

            </div>
            <div class="card">
                <h1>柚子排行榜</h1>
                <div class="photo1"> </div>
                <div id="hidden"><div class="photo2"> </div></div>
        
                <button type="button" id="first"></button>
                
                
                
                
            </div>
           

        </div>
    
      
    </div>
    <div class="footer">
        
           <div class="infooter"> <h2>快乐就是这么简单！</h2></div>
        
        
      </div>
</body>
</html>